*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-family: "Josefin Sans", sans-serif;
  --font-size: 16px;

  /* Colors */
  /* Primary */
  --color-desaturated-red: hsl(0, 36%, 70%);
  --color-soft-red: hsl(0, 93%, 68%);

  /* Neutral */
  --color-dark-grayish-red: hsl(0, 6%, 24%);

  /* Gradients */
  --gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

html {
  height: 100%;
  font-size: var(--font-size); /* modifying REM base value */
}

body {
  height: 100%;
  font-family: var(--font-family);
  display: flex;
  flex-direction: row-reverse;
}

.full-img-wrapper {
  width: 45%;
  height: 100%;
}

.full-img-wrapper img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  vertical-align: top;
}

.content {
  width: 55%;
  position: relative;
  background: url(./images/bg-pattern-desktop.svg) no-repeat center;
}

.content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-bg);
  z-index: -1;
}

header {
  height: 15vh;
}

.container {
  width: 90%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .container {
  justify-content: flex-end;
}

.hero-mobile-img-wrapper {
  display: none;
}

main {
  height: 85vh;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color-dark-grayish-red);
  line-height: 1.1;
}

.title span {
  font-weight: 300;
  color: var(--color-desaturated-red);
}

.desc {
  font-size: 0.9rem;
  color: var(--color-desaturated-red);
  margin-top: 1.5em;
  line-height: 1.6;
}

.subscription-form {
  width: 100%;
  margin-top: 2.5em;
  border: 1px solid var(--color-desaturated-red);
  border-radius: 5em;
  display: flex;
  flex-direction: row;
}

.email-input {
  width: 88%;
  font-size: 0.9rem;
  padding: 1em 0.5em 1em 2em;
  background: transparent;
  outline: transparent;
  border: transparent;
  border-radius: 5em 0 0 5em;
  color: var(--color-dark-grayish-red);
}

.email-input::placeholder {
  color: var(--color-desaturated-red);
}

.error-icon-wrapper {
  width: 1.6em;
  margin: auto;
  margin-right: 1em;
  padding-top: 0.25em;
  display: none;
}

.error-icon-wrapper img {
  width: 100%;
}

.submit {
  width: 22%;
  padding: 1em 3em;
  background: var(--gradient-btn);
  outline: transparent;
  border: transparent;
  border-radius: 5em;
  cursor: pointer;
  box-shadow: 0 1em 1em -0.5em hsl(0, 80%, 86%);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.submit:hover,
.submit:focus {
  filter: brightness(110%);
  box-shadow: 0 1em 1em var(--color-desaturated-red);
}

.error-msg {
  font-size: 0.75em;
  color: var(--color-soft-red);
  margin: 0.8em 0 0 2em;
  visibility: hidden;
}

.subscription-form.error {
  border: 2px solid var(--color-soft-red);
}

.subscription-form.error .error-icon-wrapper {
  display: block;
}

.subscription-form.error + .error-msg {
  visibility: visible;
}
